---
title: Tags
layout: default
description: keep hungry keep foolish
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签选择栏 -->
			<div class="tags-list" id="tag_filter_bar">
				<a href="javascript:void(0)" class="tag-pill active" data-tag="all">
					全部
					<span class="tag-pill__count">{{ site.posts.size }}</span>
				</a>
				{% for tag in site.tags %}
				<a href="#{{ tag[0] }}" class="tag-pill" data-tag="{{ tag[0] }}" title="{{ tag[0] }}">
					{{ tag[0] }}
					<span class="tag-pill__count">{{ tag[1].size }}</span>
				</a>
				{% endfor %}
			</div>

            <!-- 标签列表 -->
			<div class="tag-posts-wrapper">
				{% for tag in site.tags %}
				<div class="one-tag-list" data-tag-section="{{ tag[0] }}">
				  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                        <span class="tag-text">{{ tag[0] }}</span>
                        <span class="tag-count">({{ tag[1].size }} 篇)</span>
                    </span>
					{% for post in tag[1] %}
					<div class="post-preview">
					    <a href="{{ post.url | prepend: site.baseurl }}">
					        <h2 class="post-title">
	                            {{ post.title }}
					        </h2>
					        {% if post.subtitle %}
					        <h3 class="post-subtitle">
					            {{ post.subtitle }}
					        </h3>
					        {% endif %}
					    </a>
					    <p class="post-meta">
					        <span>{{ post.date | date: "%Y-%m-%d" }}</span>
					        {% assign tag_post_chars = post.content | strip_html | strip_newlines | size %}
					        {% assign tag_read_time = tag_post_chars | divided_by: 400 | plus: 1 %}
					        <span class="meta-dot">&middot;</span>
					        <span>约 {{ tag_post_chars }} 字</span>
					        <span class="meta-dot">&middot;</span>
					        <span>{{ tag_read_time }} min</span>
					    </p>
					</div>
					<hr>
					{% endfor %}
				</div>
				{% endfor %}
			</div>

		</div>
	</div>
</div>
